@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  @apply text-[#1a1a1a] dark:text-white;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

iframe {
  margin: 0 !important;
}

li.slide {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.styles-module_close__2I1sI {
  opacity: 1 !important;
}

.styles-module_wrapper__1I_qj {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
